.status-page {
  min-height: 100vh;
  background: black;
  color: white;
}

.status-container {
  max-width: 900px;
  margin: auto;
  padding: 80px 20px;
  text-align: center;
}

.status-subtitle {
  color: #ef4444;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}

.status-title {
  font-size: 52px;
  font-weight: 800;
  margin-top: 15px;
}

.status-card {
  margin-top: 40px;
  background: linear-gradient(to bottom, #111827, #000);
  border: 1px solid #1f1f1f;
  border-radius: 24px;
  padding: 40px 20px;
}

.status-card h2 {
  font-size: 32px;
  font-weight: 800;
}

.status-card p {
  color: #9ca3af;
  margin-top: 10px;
}

.status-price {
  margin-top: 20px;
  color: #ef4444;
  font-size: 42px;
  font-weight: 900;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  gap: 20px;
  flex-wrap: wrap;
}

.step {
  flex: 1;
  min-width: 140px;
  opacity: 0.4;
  transition: 0.3s;
}

.step.active {
  opacity: 1;
}

.step-circle {
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  background: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 800;
  border: 2px solid #333;
}

.step.active .step-circle {
  background: #ef4444;
  border-color: #ef4444;
}

.step p {
  margin-top: 14px;
  font-weight: 600;
}

.loading-text {
  text-align: center;
  padding: 120px 20px;
}

.cancel-box {
  background: #111;
  border: 1px solid #ef4444;
  padding: 40px;
  border-radius: 24px;
  text-align: center;
  margin-top: 40px;
}

.status-product {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 20px;
}

.status-product-img {
  width: 90px;
  height: 90px;

  object-fit: cover;

  border-radius: 16px;
}

.cancel-box h2 {
  color: #ef4444;
  font-size: 32px;
  margin-bottom: 12px;
}

.cancel-box p {
  color: #9ca3af;
}

@media (max-width: 768px) {
  .status-title {
    font-size: 36px;
  }

  .steps-container {
    flex-direction: column;
  }
}
